<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changji.cloud.auth.mapper.AuthAccountMapper">

    <sql id="all_columns">
        uid, account, password , create_ip, status, user_id
    </sql>
    <update id="edit">
        update auth_account set password = #{authAccount.password} where account =#{authAccount.account}
    </update>

    <select id="queryByAccount" resultType="com.changji.cloud.auth.model.AuthAccount">
        select <include refid="all_columns"></include> from auth_account where account =#{account}
    </select>

    <select id="queryUserMenuByUid" resultType="java.lang.String">
        SELECT m.perms FROM sys_auth_role ar
            LEFT JOIN sys_role r on ar.role_id = r.role_id
            LEFT JOIN sys_role_menu rm on rm.role_id = r.role_id
            LEFT JOIN sys_menu m on m.menu_id = rm.menu_id
        WHERE ar.uid = #{uid}
    </select>

    <insert id="save">
        insert into auth_account (<include refid="all_columns"></include>)
        values (#{authAccount.uid},#{authAccount.account},#{authAccount.password},#{authAccount.createIp},#{authAccount.status},#{authAccount.userId})
    </insert>

    <insert id="saveAuthRole">
        insert into sys_auth_role (uid, role_id) values (#{uid}, #{roleId})
    </insert>

</mapper>
