<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changji.cloud.social.mapper.ChatMessagesMapper">

    <sql id="all_columns">
        id, from_user_account, to_user_account, content, state, create_time, update_time
    </sql>
    <insert id="insertMessage">
        insert into
    </insert>


</mapper>
