<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changji.cloud.social.mapper.FriendCircleMessageMapper">


    <sql id="all_columns">
        id, user_id, content, picture, location
    </sql>
    <insert id="save">

    </insert>


</mapper>
